#upsell-product-table-dy {
    margin-bottom: 32px;
  }
  
  #bestseller-headline {
    padding-top: 20px;
    margin-bottom: 0.75em;
      font-size: 1.25em;
      text-align: center;
  }
  body{
    color: blue;
  }
  body{
    color: rgb(97, 97, 119);
  }
